@model OnlineShop_Web.Models.VM.AttributesCreateVM

<form asp-action="CreateAttributes">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create Attribute</h1>
        <hr />

        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Attributes.ProductId" value="@TempData["ProductId"]" id="hdnProductId" />
            @* Name  *@
            <div class="col-2">
                <label asp-for="Attributes.Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Attributes.Name" class="form-control" />
                <span asp-validation-for="Attributes.Name" class="text-danger"></span>
            </div>

            @* value  *@
            <div class="col-2">
                <label asp-for="Attributes.Value" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Attributes.Value" class="form-control" />
                <span asp-validation-for="Attributes.Value" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexAttributes" asp-controller="Attributes" asp-route-productId="@TempData["ProductId"]" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
